/* Reset some default styles */
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling for the whole page */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  .header {
    background-color: #da23ca;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
    font-size: 70%;
  }
  
  /* Features section styles */
  .features {
    text-align: center;
    padding: 4rem 0;
    background-color: rgb(22, 228, 39);
  }
  
  /* Call to Action section styles */
  .cta {
    text-align: center;
    background-color: #f4f4f4;
    padding: 4rem 0;
  }
  
  /* Footer styles */
  .footer {
    background-color: #da23ca;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  @media screen and (min-width: 600px) {
    /* Styles for screens with a width of at least 600px */
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* Apply the animation to an element */
  .img-advt {
    animation: slideIn 1s ease-in-out;
  }

  .needed li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for horizontal alignment */
    color: #0c0c0c;
  }

  .needed li {
    margin-right: 20px;
    display: inline-block; /* Display items in a horizontal line */
  }

  .navbar {
    position: fixed; /* Position the menu bar */
    top: 0; /* Position at the top */
    right: 70px; /* Position at the right */
    color: #faf8f8; /* Background color */
    padding: 10px; /* Add some padding */
    display: flex;
    gap: 20px;
  }

  .navbar {
    color: white;
    text-decoration: none;
  }
